@page "/cadastrar-pessoa"
@page "/editar-pessoa/{PessoaId:guid}"

@using System.ComponentModel.DataAnnotations
@using EstudoIA.Pages.Pessoas

@inherits SalvarPessoaBase

<PageTitle>@PageTitle</PageTitle>

<h3>@PageTitle</h3>

<EditForm Model="@pessoaModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
    @* <ValidationSummary /> @* Pode ser usado para um resumo de todos os erros *@

    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <InputText id="nome" class="form-control" @bind-Value="pessoaModel.Nome" />
        <ValidationMessage For="@(() => pessoaModel.Nome)" />
    </div>

    <div class="mb-3">
        <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
        <InputDate id="dataNascimento" class="form-control" @bind-Value="pessoaModel.DataNascimento" />
        <ValidationMessage For="@(() => pessoaModel.DataNascimento)" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <InputText id="email" type="email" class="form-control" @bind-Value="pessoaModel.Email" />
        <ValidationMessage For="@(() => pessoaModel.Email)" />
    </div>

    <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <InputText id="cpf" class="form-control" @bind-Value="pessoaModel.Cpf" />
        <ValidationMessage For="@(() => pessoaModel.Cpf)" />
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-success">@SubmitButtonText</button>
        <button type="button" class="btn btn-outline-secondary ms-2" @onclick="NavigateToListarPessoas">Cancelar</button>
    </div>
</EditForm>
